/Study_Likert/Data/Experimental/Raw/*
/Study_Tritave_pentachords/Data/Experimental/Raw/*
/Study_Tritave_Uniform/Data/Experimental/Raw/*
/Study_Uniform/Data/Experimental/Raw/*
/StudyI_Pentatonic_vs_Chromatic/Data/Experimental/Raw/*
/StudyII_Pentatonic_vs_Chromatic/Data/Experimental/Raw/*
/**/*.pickle
/**/*.zip
**/__pycache__
